body{
	background-image: url(blog.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

main {
	width: 50%;
	margin: auto;
}

.rubrik{
	text-align: center;
	font-size: 100px;
	font-family: 'Abril Fatface', cursive;
	color: white;
}

.titel{
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 50px;
	color: white;
}

.border{
	border-style: dotted solid;
	font-family: 'Josefin Slab', serif;
	margin-bottom: 100px;
	color: white;
}

.txt{
	margin-left: 10px;
	font-size: 25px;
	color: white;
}

.img{
	width: 780px;
	height: 439px;
	margin: auto;
}
